USE [master]
GO
/****** Object:  Database [sss]    Script Date: 06/23/2021 08:59:21 ******/
CREATE DATABASE [sss] ON  PRIMARY 
( NAME = N'sss', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\sss.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'sss_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\sss_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sss].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sss]
GO
/****** Object:  Table [dbo].[reward]    Script Date: 06/23/2021 08:59:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reward](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[reward_money] [float] NOT NULL,
	[type_of_suggest] [nchar](10) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_reward] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[systemuser]    Script Date: 06/23/2021 08:59:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[systemuser](
	[userid] [nchar](10) NOT NULL,
	[username] [nchar](10) NOT NULL,
	[role] [nchar](10) NULL,
	[department] [nchar](10) NULL,
	[email] [nchar](10) NULL,
	[description] [nvarchar](max) NULL,
	[created_date] [date] NULL,
 CONSTRAINT [PK_systemuser] PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suggestion]    Script Date: 06/23/2021 08:59:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suggestion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
	[implement_date] [date] NULL,
	[status_type] [nchar](10) NULL,
	[remark_from_approver] [nvarchar](max) NULL,
	[reward_money] [float] NULL,
	[userid] [nchar](10) NULL,
	[creator] [nchar](10) NULL,
	[created_date] [date] NULL,
	[updated_date] [date] NULL,
 CONSTRAINT [PK_suggestion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_suggestion_systemuser]    Script Date: 06/23/2021 08:59:22 ******/
ALTER TABLE [dbo].[suggestion]  WITH CHECK ADD  CONSTRAINT [FK_suggestion_systemuser] FOREIGN KEY([userid])
REFERENCES [dbo].[systemuser] ([userid])
GO
ALTER TABLE [dbo].[suggestion] CHECK CONSTRAINT [FK_suggestion_systemuser]
GO
