@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h1 class="display-4">SSS - Staff Suggestion System</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">We demo a website with .NET core framework</a>.</p>
</div>
